@{
    ViewData["Title"] = "Success";
}

<h1 class="text-danger">Success</h1>
<h2 class="text-danger">Your provisioning request has been submitted, you will receive an email when your resources have been provisioned. </h2>
